<section class="university-details">
  <div class="container">
    <button (click)="goBack()" class="btn-back">← Back</button>

    <div *ngIf="isLoading$ | async" class="loading">Loading...</div>
    <div *ngIf="error$ | async as error" class="error">{{ error }}</div>

    <div *ngIf="!(isLoading$ | async) && !(error$ | async) && (university$ | async) as university" class="details-card">
      <h2 class="uni-name">{{ university.name }}</h2>

      <p><strong>Country:</strong> {{ university.country }}</p>
      <p><strong>Alpha code:</strong> {{ university.alpha_two_code }}</p>
      <p><strong>Domain:</strong> {{ university.domains[0] }}</p>
      <p><strong>Website:</strong>
        <a [href]="university.web_pages[0]" target="_blank">
          {{ university.web_pages[0] }}
        </a>
      </p>

      <p><strong>ID:</strong> {{ university.id }}</p>
    </div>
  </div>
</section>
