<section class="about-section">
  <div class="about-left">
    <h2>About Me</h2>
    <p class="about-left-text">Web Developer & Student</p>
  </div>

  <div class="about-right">
    <div class="about-header">
      <h1>Hi, I'm Kundyz</h1>
      <p>Welcome to my personal page! Here you can learn a bit more about me, my studies, my goals, and how to contact me.</p>
    </div>

    <div class="about-content">
      <div class="about-image">
        <img src="https://i.pinimg.com/1200x/e6/8b/20/e68b201bf52850ec8ca300e2c013b9ba.jpg" alt="Profile Photo">
      </div>
      <div class="about-text">
        <p>I am a 3rd-year student at the School of Information Technology and Engineering. I love creating modern and useful websites, learning new frameworks, and improving my coding skills.</p>
        <p>My goal is to become a skilled full-stack developer and contribute to exciting projects that make life easier and more beautiful.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolor fuga, officia distinctio soluta recusandae sit, aliquid magnam ea nulla omnis quas ut hic maxime atque deleniti fugiat veniam? Nisi!</p>
      </div>
    </div>

    <div class="about-contacts">
      <h3>Contact Me</h3>
      <p>Email: k_abibulla&#64;kbtu.kz</p>
      <p>Telegram: &#64;kundyzzz</p>
      <p>GitHub: &#64;kundyzzz</p>
      <p>Phone: +7 777 777 77 77</p>
    </div>
  </div>
</section>
