<section class="signup-section">
    <div class="signup-box">
    <h2>Sign Up</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input formControlName="email" type="email" />
      <div *ngIf="form.controls.email.invalid && form.controls.email.touched">Enter a valid email</div>

      <input formControlName="password" type="password" />
      <div *ngIf="form.controls.password.invalid && form.controls.password.touched">Password is required</div>

      <button type="submit" [disabled]="loading">{{ loading ? 'Login...' : 'Login' }}</button>
    </form>


    <div *ngIf="error" class="error">{{ error }}</div>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
</section>

