<section class="signup-section">
    <div class="signup-box">
    <h2>Sign Up</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input formControlName="email" type="email" />
      <input formControlName="password" type="password" />
      <input formControlName="confirm" type="password" />

      <div *ngIf="form.hasError('mismatch') && form.touched">Passwords do not match</div>
      <button type="submit" [disabled]="loading">{{ loading ? 'Sign up...' : 'Sign Up' }}</button>
    </form>

    <div *ngIf="error" class="error">{{ error }}</div>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
</section>
